@import url("../icons/fontawesome/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 1366px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  padding: 2rem;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  height: 90rem;
  width: calc(100% + 2rem);
  top: -5rem;
  left: 0;
  z-index: -1;
  background: center/contain no-repeat url("../../assets/section-one-bg.png"), bottom right no-repeat url("../../assets/section-one-triangle-bg.png");
}
.header .logo {
  width: auto;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  list-style: none;
}
.header nav ul:nth-child(1) li {
  margin: 1rem;
  color: #6066f2;
}
.header nav ul:nth-child(2) li {
  margin: 1rem;
}
.header nav ul:nth-child(2) li a {
  text-decoration: none;
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  color: white;
  width: 15rem;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.header nav ul:nth-child(2) li:nth-child(1) a {
  background: #6066f2;
}
.header nav ul:nth-child(2) li:nth-child(2) a {
  background: #fea83b;
}

.main {
  z-index: 2;
}
.main .section-one {
  display: flex;
}
.main .section-one .left {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 12rem;
  padding-right: 6rem;
}
.main .section-one .left div h2 {
  color: #6066f2;
  font-size: 4.5rem;
}
.main .section-one .left div p {
  color: grey;
  margin: 3rem 0;
}
.main .section-one .left div form {
  background: white;
  display: inline-block;
  position: relative;
  padding-right: 1rem;
  border-radius: 3rem;
  overflow: hidden;
  margin: 2rem 0;
}
.main .section-one .left div form input[type=search] {
  padding: 1.5rem;
  outline: none;
  width: 25rem;
  padding-left: 2rem;
}
.main .section-one .left div form input[type=search]:focus + label {
  display: none;
}
.main .section-one .left div form input[type=search]:valid + label {
  display: none;
}
.main .section-one .left div form input[type=search]:required {
  border: none;
  box-shadow: none;
}
.main .section-one .left div form label {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  padding: 1.4rem;
  padding-left: 2rem;
  pointer-events: none;
  display: inline-block;
  color: #aaa;
}
.main .section-one .left div form button {
  background: #6066f2;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10rem;
  color: white;
  text-transform: uppercase;
}
.main .section-one .right {
  z-index: inherit;
  width: 60%;
}
.main .section-one .right div img {
  z-index: inherit;
  width: 55rem;
  margin-left: 2rem;
  filter: drop-shadow(45px 25px 2px rgba(0, 0, 0, 0.1));
}
